$baseColor:#49ea4e;
$baseTextColor:#253822;
$currencySelectorHeight:50px;
$qrCurIconPercent:20%;
$homeCurIconSize:38px;
$spinnerSize:90px;
$homeBgImg:url(../res/realmona.png);
$firstIconSize:100px;
$firstIconImg:url(../res/monya_icon_round_512.png);
$spinnerImg:url(../res/spinner.png);
$disableMonaparty:true;
$disableMonappy:true;
$disableZaif:true;
$disableAtomicSwap:true;
